#itinerary {
  flex: 1;
  overflow: hidden;
  height: 100%;
  width: 15%;
  padding: 60px 0px 0px 80px;
  margin: 0px;
  font-family: 'Lobster', cursive;
  font-size: 1.8em;
  text-align: center;
}
 #itinerary-box {
  background-color: $transparent !important;
  height: 100vh;
  width: 20vh;
  border-radius: 1vh;
 }
