nav {
  z-index: 1;
}

.navbar-brand {
  * {
  height: 100%;
  width: auto;
  padding: 0px 0px 5px 0px;
  }
}

.navbar-default {
  background-color: white !important;
  border-color:transparent !important;
  background-image:none;
  box-shadow:none;

}

#brand-bkgd {
  background: white!important;
  border-radius: 10%;
  margin: 2px, 2px, 5px, 5px;
}
