#main-wrapper {
	height: 100vh;
    padding: 0;
    display: flex;
    background-color: $transparent !important;
    margin-right: -20% !important;
}

.pre-scrollable {
	flex: 1;
	max-height: 100% !important;
	&::-webkit-scrollbar {
	  display: none;
	}
}

#hotels, #restaurants, #activities {
  	&::before {
	  display: block;
	  content: " ";
	  margin-top: -45px;
	  height: 45px;
	  visibility: hidden;
  }
}

@import "mainimages";