#main-wrapper {
	height: 100vh;
    padding: 0;
    display: flex;
}

.pre-scrollable {
	flex: 1;
	max-height: 100% !important;
  	margin-right: -15%;
	&::-webkit-scrollbar {
	  display: none;
	}
}

#hotels, #restaurants, #activities {
  	&::before {
	  display: block;
	  content: " ";
	  margin-top: -45px;
	  height: 45px;
	  visibility: hidden;
  }
}

// @media only screen and (max-width: 500px) {
//     img {
//         width: ;
//     }
// }

@import "mainimages";
