nav {
  z-index: 1;
}

.row {
  height: 100%;
  width: 100%;
}

html, body {
    margin: 0;
    height: 100%;
    width: 100%;
    overflow: hidden;
    font-family: 'Josefin Slab', serif !important;
}

.jumbotron {
  margin: 20px 0;
}

#wrapper {
	min-height: 100%;
    height: 100%;
    width: 100%;
    top: 50px;
    margin: 0px;
}

#main-wrapper {
	height: 100vh;
    padding: 0;
    display: flex;
}

.pre-scrollable {
	flex: 1;
	max-height: 95% !important;
  margin-right: -15%;
}

.pre-scrollable::-webkit-scrollbar {
  display: none;
}

.sidebar-wrapper {
	height: 100%;
    padding: 50px 0 0px 0;
    border-right: 1px solid gray;
}

#itinerary {
  flex: 1;
  overflow: hidden;
  height: 100%;
  width: 15%;
  z-index: -1;
}

#map-canvas {
  height: 100vh; 
  width: 50%; 
  margin-right: 15px;
  margin-left: -15px; 
}

.grow { transition: all .2s ease-in-out; }
.grow:hover { transform: scale(1.1); }

h2 {
  padding: 30px 0;
}

.welcome {
  padding: 50px 0;
      -webkit-animation: fadein 2s; /* Safari, Chrome and Opera > 12.1 */
       -moz-animation: fadein 2s; /* Firefox < 16 */
        -ms-animation: fadein 2s; /* Internet Explorer */
         -o-animation: fadein 2s; /* Opera < 12.1 */
            animation: fadein 2s;
}

.lobster {
  font-family: 'Lobster', cursive;
}

#hotels, #restaurants, #activities {
  &::before {
    display: block; 
  content: " "; 
  margin-top: -45px; 
  height: 45px; 
  visibility: hidden; 
  }
}

#welcome-img {
  width: 100%;
  padding: 10px 0;
  margin: -25px;
}

.img-rounded {
  @extend .grow;
  display: inline-block;
}

.assetimages {
  /* Prevent vertical gaps */
  line-height: 0;
   
  -webkit-column-count: 2;
  -webkit-column-gap:   0px;
  -moz-column-count:    2;
  -moz-column-gap:      0px;
  column-count:         2;
  column-gap:           0px;  
}

.assetimages * {
  /* Just in case there are inline attributes */
  width: 100% !important;
  height: auto !important;
  z-index: 1;
  padding: 8px;
}

h4 {
  padding-bottom: 30px;
}

.group:after {
  content: "";
  display: table;
  clear: both;
}

.navbar-brand {
  img {
  height: 120%;
  width: auto;
  }
}


@import "media-queries";