.scrolling {
  overflow: scroll;
  height: 400px;
}

body {
	overflow: hidden;
}

#wrapper {
	min-height: 100%;
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0px;
    left: 0;
    display: inline-block;
}

#main-wrapper {
	height: 100%;
    padding: 100px 0 0px 0;
}

.pre-scrollable {
	height: ;	
}

.sidebar-wrapper {
	height: 100%;
    padding: 50px 0 0px 0;
    position: fixed;
    border-right: 1px solid gray;
}


map, itinerary {
	position: relative;
    height: 100%;
    overflow: hidden;
}

